<mat-card-content>
  <mat-card>
    <mat-grid-list cols="2">
      <mat-grid-tile>
        <mat-card-content>
        <mat-card-title>*Expert Username*</mat-card-title><br>
        <mat-card-subtitle>ELO: *ELO*</mat-card-subtitle>
          <p>Why me: *WhyMe*</p>
        <p>Experience: *Experience*</p>
        </mat-card-content>
      </mat-grid-tile>
      <mat-grid-tile>
          <img class="expert-profile" [src]="" alt="url">
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</mat-card-content>
