<mat-card-content>
  <section style="text-align: center">
    <h2>My training materials </h2>
  </section>

  <section class="training" >
    <div class="container" style="background-color: #666173; margin: 30px" ><!--aqui va un ngFor-->
      <article>
        <img class="item-image" [src]="" alt="url">
      </article>
      <article style="text-align: right; color: #FFFFFF">
        <h3>*Id del Training material*</h3>
        <h5> Fecha de publicacion: *fecha de publicación*
          Precio: *precio* *moneda*</h5>
      </article>
    </div>
  </section>
</mat-card-content>
