<mat-card-content>
  <section style="text-align: center">
    <h2>My training materials </h2>
  </section>

  <section class="training" >
    <div class="container" style="background-color: #666173; margin: 30px" *ngFor="let material of materials"><!--aqui va un ngFor-->
      <article>
        <img class="item-image" [src]="material.detail.videoUri" alt="url">
      </article>
      <article style="text-align: right; color: #FFFFFF">
        <h3>{{material.material.trainingId}}</h3>
        <h5> Publish Date: {{material.detail.publishedDate}}
          Price: {{material.detail.price.amount}} {{material.detail.price.currency}}</h5>
      </article>
    </div>
  </section>
</mat-card-content>
