<ng-container class="container" >
  <section style="text-align: center">
    <h2>Presenting our training materials for *nombre juego* </h2>
  </section>

  <section class="training" >
    <div class="container" style="background-color: #666173; margin: 30px"> <!--for trainingMaterial-->
      <article>
        <img class="item-image" [src]="" alt="">
      </article>
      <article style="text-align: right; color: #FFFFFF">
        <h3>*ID del material*</h3>
        <h5> Fecha de publicacion: *fecha publicacion*
          Precio: *precio* *moneda*</h5>
        <p>*descripcion*</p>
        <button class="option-button"> BUY NOW </button>
      </article>
    </div>
  </section>
</ng-container>
