<ng-container class="container" >
  <section style="text-align: center">
    <h2>Presenting our training materials for {{gameData.name}} </h2>
  </section>

  <section class="training" >
    <div class="container" style="background-color: #666173; margin: 30px" *ngFor="let trainingMaterial of trainingMaterials"> <!--for trainingMaterial-->
      <article>
        <img class="item-image" [src]="trainingMaterial.detail.videoUri" alt="">
      </article>
      <article style="text-align: right; color: #FFFFFF">
        <h3>{{trainingMaterial.material.trainingId}}</h3>
        <h5> Publication date: {{ trainingMaterial.detail.publishedDate }}
          Price: {{trainingMaterial.detail.price.amount}} {{trainingMaterial.detail.price.currency}}</h5>
        <p>*descripcion*</p>
        <button class="option-button"> BUY NOW </button>
      </article>
    </div>
  </section>
</ng-container>
