<section class="body">
  <div class="fullName">
    <h1>{{currentUser.username}} </h1>

    <hr>
    <div class="text-line">
      <h3> Email : {{ currentUser.username }}</h3>
    </div>

    <button class="button">Change password</button> <br>
    <hr>
    <button  class="button" style="color: #139028">Apply to expert</button> <br>
    <button class="button" style="color: #139028">My applications</button> <br>
    <button class="button" style="color: #139028">My training materials</button> <br>
  </div>

  <span class = "avatar">
    <img [src]="" alt="Avatar">
  </span>
</section>

