<section class="body">
  <div class="fullName">
    <h1>{{user.name}} </h1>

    <hr>
    <div class="text-line">
      <h3> Email : {{ currentUser.username }}</h3>
    </div>

    <button class="button">Change password</button> <br>
    <hr>
    <button (click)="navigateToApplication(user.id)"  class="button" style="color: #139028">Apply to expert</button> <br>
    <button (click)="navigateToApplications(user.id)" class="button" style="color: #139028">My applications</button> <br>
    <button (click)="navigateToMaterial(user.id)"  class="button" style="color: #139028">My training materials</button> <br>
  </div>

</section>

