<section class="body">
  <div class="fullName">
    <h1> *nombre completo*</h1>

    <hr>
    <div class="text-line">
      <h3> Email</h3>
      <span> *Email* </span>
    </div>

    <button class="button">Change password</button> <br>
    <hr>
    <button  class="button" style="color: #139028">Apply to expert</button> <br>
    <button class="button" style="color: #139028">My applications</button> <br>
    <button class="button" style="color: #139028">My training materials</button> <br>
  </div>

  <span class = "avatar">
    <img [src]="" alt="Avatar">
  </span>
</section>

<div *ngIf="currentUser; else loggedOut">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ currentUser.username }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p><strong>Token:</strong>
        {{ currentUser.token }}
      </p>
    </mat-card-content>
  </mat-card>
</div>
<ng-template #loggedOut>
  Please authenticate first.
</ng-template>
