<mat-card class="card">

  <mat-grid-list cols="2">
    <mat-grid-tile>
      <img class="gameImage" mat-card-image [src]="gameData.coverUrl" alt="Photo of Apex Legends">
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card-content class="summary">
        <mat-card-title>{{gameData.name}}</mat-card-title>
        <p>
          {{gameData.summary}}
        </p>
        <br>
        <button mat-button class="actionBtn">ACTION</button>
      </mat-card-content>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
