<mat-card class="card">
  <section class="banner">
    <img alt="Banner" [src]="gameData.backgroundImageUrl">
    <div class="container">
      <h1>{{gameData.name}}</h1>
      <button (click)="navigateToExperts()" class="option-button"> Find your expert </button>
      <button (click)="navigateToMaterials()" class="option-button"> Basic training </button>
      <button (click)="navigateToMaterials()" class="option-button"> Advanced training </button>
    </div>
  </section>
  <section style="text-align: center">
    <h2>Welcome to {{gameData.name}} menu</h2>
    <p>{{gameData.summary}}</p>
  </section>

  <section class="experts">
    <h3>FAVORITE EXPERTS</h3>
    <div class="container">
      <article *ngFor="let expert of experts.slice(0,3)">
        <img [src]="expert.personalProfile.profilePictureUrl" alt="url">
        <h4 style="text-align: center">{{expert.personalProfile.firstName}}</h4><br>
      </article>
    </div>
  </section>

  <section class="training" >
    <h3>FAVORITE TRAINING MATERIALS</h3>
    <div class="container" style="background-color: #666173; margin: 30px" *ngFor="let trainingMaterial of trainingMaterials.slice(0,2)" >
      <article>
        <img class="item-image" [src]="trainingMaterial.videoUri" alt="url">
      </article>
      <article style="text-align: right; color: #FFFFFF">
        <h3>{{trainingMaterial.trainingMaterialId}}</h3>
        <h5> Publication date: {{ trainingMaterial.publishedDate }}
          Price: {{trainingMaterial.price}} {{trainingMaterial.currency}}</h5>
        <p>{{gameData.summary}}</p>
        <button class="option-button"> Buy now </button>
        <button class="option-button"> Details </button>
      </article>
    </div>
  </section>
</mat-card>
