<mat-card class="card">
<mat-card-title>Register Form</mat-card-title>
  <mat-card-content>
  <div>
    <label for="firstName">First Name:</label><br><input id="firstName" type="text"><br>
    <label for="lastName">Last Name:</label><br><input id="lastName" type="text"><br>
    <label for="email">Email:</label><br><input id="email" type="email"><br>
    <label for="password">Password:</label><br><input id="password" type="password"><br>
    <label for="birthDate">Birth Date:</label><br><input id="birthDate" type="date"><br>
    <label for="picture">Photo:</label><br><input id="picture"><br>
  </div>
    <br>
    <button mat-button class="register" type="submit">REGISTER</button>
  </mat-card-content>
</mat-card>
