*{
  font-family: 'Roboto', sans-serif;
}
.card{
  color: #000000;
  background: #FFFFFF;
  max-width: 500px;
  margin-left: 30%;
}
input{
  border: 1px solid #888888;
  width: 300px;
  height: 20px;
}
.register{
  background: #139028;
  color: #FFFFFF;
}
