<ng-container>
<mat-card>
<mat-card-title>Aplication Form</mat-card-title>
  <mat-card-content>
    <div>
  <label for="description">Description:</label><br><input id="description" type="text"><br>
  <label for="gameSelected">Game Selected:</label><br><input id="gameSelected" type="text"><br>
  <label for="videoApplication">Video Application:</label><br><input id="videoApplication" type="text"><br>
    </div><br>
    <button mat-button class="send" type="submit">SEND</button>
  </mat-card-content>
</mat-card>
</ng-container>
