.gameImage {
  border-radius: inherit;
  height: 100%;
  width: 100%;
  opacity:0.8;
}

.gameTitle {
  text-align: center;
  font-size: 100%;
  color: #666173;
  margin-bottom: 10%;
}

.gameChooseTittle {
  font-size: 300%;
  font-weight: bolder;
  color: #139028;
  text-align: center;
  margin: 5%;
}

.gameCard{
  height: 20px;
  width: auto;
}

.gameCard:hover{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
}

.gameImage:hover{
  opacity:1;
}
