.gameImage {
  width: fit-content;
  border-radius: inherit;
  margin-bottom: 5%;
}

.gameTitle {
  text-align: center;
  font-size: 100%;
  color: #666173;
  margin-bottom: 10%;
}

.gameChooseTittle {
  font-size: 300%;
  font-weight: bolder;
  color: #139028;
  text-align: center;
  margin: 5%;
}
